.cards {
	display: grid;
	padding: 10px;
	margin: 0px 20px;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	width: 100%;
	gap: 20px;
	align-items: baseline;
	/* height: 100%; */
	margin-top: 80px;
    margin-bottom: 20px;
}

@media screen and (max-width: 940px) {
	.cards {
		grid-template-columns: 1fr 1fr;
	}
	
}
